<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Editing Quotation</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <h1>Editing Quotation</h1>
    <form th:action="@{/quotations/{id}(id=*{id})}" th:method="put" th:object="${quotation}">
        <div class="form-group">
            <label class="control-label">名言</label>
            <!-- ① -->
            <input class="form-control" type="text" th:field="*{name}" />
        </div>
        <button class="btn btn-default" type="submit">更新</button>
    </form>
    <div class="pull-right">
        <a class="btn btn-link" href="/quotations">一覧画面へ</a>
    </div>
</div>
</body>
</html>